[submodule "protected/GENERAL/Tools/Zebra_Session"]
	path = protected/GENERAL/Tools/Zebra_Session
	url = git@github.com:nightsh/Zebra_Session.git
[submodule "public/assets/ivy-kcfinder"]
	path = public/assets/ivy-kcfinder
	url = git@github.com:nightsh/kcfinder.git
[submodule "protected/GENERAL/Tools/PHP-Markdown"]
	path = protected/GENERAL/Tools/PHP-Markdown
	url = https://github.com/michelf/php-markdown.git
