[submodule "protected/GENERAL/Tools/Zebra_Session"]
	path = protected/GENERAL/Tools/Zebra_Session
	url = git@github.com:nightsh/Zebra_Session.git
[submodule "public/assets/ivy-kcfinder"]
	path = public/assets/ivy-kcfinder
	url = git@github.com:nightsh/kcfinder.git
[submodule "public/assets/securimage-git"]
	path = public/assets/securimage-git
	url = https://github.com/dapphp/securimage.git
